<tr class="bglight">
    <td colspan="7">
        <a href="{{ path( 'ez_urlalias', {'locationId': item.variant.contentInfo.mainLocationId} ) }}">{{ ez_content_name(item.variant) }}</a>

    </td>
</tr>
<tr class="bgdark">
    <td>{{ form_row(form.items[loop.index0].quantity, {'label': false, 'attr':{'size':'5'}}) }} </td>
    <td>{# VAT #}</td>
    <td>{{ item.unitPrice|sylius_price }}</td>
    <td>{# Discount Percent #}</td>
    <td>{# Price Ex Vat #}</td>
    <td>{{ item.total|sylius_price }}</td>
    <td><a href="{{ path('sylius_cart_item_remove', {'id': item.id}) }}" class="btn btn-danger"><i class="icon-trash icon-white"></i></a></td>
</tr>
<tr class="bglight">
    <td colspan="6"><input class="button" type="submit" name="StoreChangesButton" value="{{ "Update"|trans }}" /></td>
</tr>