{#
Taken from SyliusCartBundle
#}

{% extends "eZDemoBundle::pagelayout.html.twig" %}

    {#

    {% import 'SyliusWebBundle:Frontend/Macros:alerts.html.twig' as alerts %}

    {% set taxAdjustment = constant('Sylius\\Component\\Core\\Model\\AdjustmentInterface::TAX_ADJUSTMENT') %}
    {% set shippingAdjustment = constant('Sylius\\Component\\Core\\Model\\AdjustmentInterface::SHIPPING_ADJUSTMENT') %}
    {% set promotionAdjustment = constant('Sylius\\Component\\Core\\Model\\AdjustmentInterface::PROMOTION_ADJUSTMENT') %}
    #}

    {% form_theme form _self %}

    {% block javascripts %}
        {{ parent() }}
        {% javascripts output='assets/compiled/frontend_cart_summary.js'
        'bundles/syliusweb/js/form-collection.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}

    {% block content %}
        <div class="shop-basket">

            <ul>
                <li class="selected">1. {{ "Shopping Basket"|trans }}</li>
                <li>2. {{ "Account Information"|trans }}</li>
                <li>3. {{ "Confirm Order"|trans }}</li>
            </ul>

        </div>

        <div class="shop-basket">
            <div class="attribute-header">
                <h1 class="long">{{ "Basket"|trans }}</h1>
            </div>

        {% if not cart.empty %}
            {{ form_errors(form) }}

            <form action="{{ path('sylius_cart_save') }}" method="post" novalidate>
                <table class="list" width="100%" cellspacing="0" cellpadding="0" border="0">
                    <thead>
                    <tr>
                        <th>
                            {{ "Count"|trans }}
                        </th>
                        <th>
                            {{ "VAT"|trans }}
                        </th>
                        <th>
                            {{ "Price Inc. VAT"|trans }}
                        </th>
                        <th>
                            {{ "Discount"|trans }}
                        </th>
                        <th>
                            {{ "Total price ex. VAT"|trans }}
                        </th>
                        <th>
                            {{ "Total price inc. VAT"|trans }}
                        </th>
                        <th>&nbsp;
                        </th>

                    </tr>
                    </thead>
                    <tbody>
                        {% for item in cart.items %}
                            {% include 'eZSyliusBundle:Cart:_item.html.twig' %}
                        {% endfor %}
                        <tr class="bglight">
                            <td colspan="7"><input class="button" type="submit" value="{{ "Update"|trans }}" /></td>
                        </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="7">
                            <hr size='2' />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5">
                        </td>
                        <td>
                            <strong>{{ "Subtotal Ex. VAT"|trans }}</strong>:
                        </td>
                        <td>
                            <strong>{{ "Subtotal Inc. VAT"|trans }}</strong>:
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5">
                        </td>
                        <td>
                            {# subtotal ex vat#}
                        </td>
                        <td>
                            {{ cart.total|sylius_price }}
                        </td>
                    </tr>
                    {#
                    {% if cart.adjustmentsTotal(promotionAdjustment) %}
                        <tr>
                            <td colspan="6" style="text-align: right;">
                                <strong>{{ 'sylius.order.promotion_total'|trans }}</strong>: -{{ (-1 * cart.adjustmentsTotal(promotionAdjustment))|sylius_price }}
                            </td>
                        </tr>
                    {% endif %}
                    #}
                    {#
                    <tr>
                        <td colspan="6" style="text-align: right;">
                            <strong>{{ 'sylius.order.shipping_total'|trans }}</strong>: {{ cart.adjustmentsTotal(shippingAdjustment)|sylius_price }}
                        </td>
                    </tr>
                    #}
                    {#
                    <tr>
                        <td colspan="4">
                            <p><strong>{{ 'sylius.order.taxes'|trans }}</strong></p>
                            <ul>
                                {% for taxAdjustment in cart.adjustments(taxAdjustment) %}
                                    <li>{{ taxAdjustment.description }} {{ taxAdjustment.amount|sylius_price }} </li>
                                {% else %}
                                    <li><span class="label label-info">{{ 'sylius.order.no_taxes'|trans }}</span></li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td colspan="2" style="text-align: right;">
                            <strong>{{ 'sylius.order.tax_total'|trans }}</strong>: {{ cart.adjustmentsTotal(taxAdjustment)|sylius_price }}
                        </td>
                    </tr>
                    #}

                    </tfoot>
                </table>

                {#
                <div id="sylius-cart-coupons" class="well well-sm" data-prototype="{{ form_row(form.promotionCoupons.vars.prototype)|e }}">
                    <div id="sylius-cart-coupons-collection">
                        {% for couponField in form.promotionCoupons %}
                            {{ form_row(couponField, {'label_attr': {'class': 'col-lg-12'}}) }}
                        {% endfor %}
                    </div>
                </div>
                #}

                {{ form_rest(form) }}
                {#
                <div class="well">
                    <button type="submit" class="btn btn-primary btn-lg"><i class="icon-save"></i> {{ 'sylius.cart.summary.save'|trans }}</button>
                    <div class="pull-right">
                        <a href="{{ path('sylius_checkout_start') }}" class="btn btn-success btn-lg"><i class="icon-shopping-cart"></i> {{ 'sylius.cart.summary.checkout'|trans }}</a>
                        <a href="{{ path('sylius_cart_clear') }}" class="btn btn-danger btn-lg"><i class="icon-remove"></i> {{ 'sylius.cart.summary.clear'|trans }}</a>
                    </div>
                </div>
                #}
            </form>
        {% else %}
            <div class="feedback">
                <h2>{{ "You have no products in your basket"|trans }}</h2>
            </div>
        {% endif %}
        </div>
    {% endblock %}

    {% block sylius_cart_item_row %}
        {{ parent() }}
        {% block form_message %}{% endblock %}
    {% endblock %}