<article class="selected-products">
    <div class="attribute-image">
        <a href="{{ path( location ) }}">
            {{ ez_render_field(
                content, "image",
                {
                    "template": "eZDemoBundle:fields:ezimage_simple.html.twig",
                    "parameters": {"alias": "productthumbnail"}
                }
            ) }}
        </a>
    </div>
    <div class="product-info">
        <div class="attribute-header">
            <a href="{{ path( location ) }}" class="teaser-link">
                <h3>{{ ez_content_name( content ) }}</h3>
            </a>
        </div>
        {{ form_start(form) }}
        <fieldset>
            <div class="item-price">
                {{ ez_render_field(content, 'price') }}
            </div>
            <div class="item-buying-action form-inline">
                <label>
                    <span class="hidden">{{ 'Amount'|trans }}</span>
                    {{ form_widget(form.quantity) }}
                </label>
                {{ form_row(form.buy, {'attr': {'class':'btn btn-warning'}} ) }}
            </div>
        </fieldset>
        {{ form_end(form) }}
    </div>
</article>

